<%- include('../partials/header-profile') %>
<a href="/profile/new/back"><span class="material-icons">arrow_back</span>back to profile page</a>
<div class="main text-light">
  <br><br>
  <h4><%= title %></h4>
  <% favAds.forEach(ad => { %>
    <br>
    <div class="ad">
      <img src="<%= ad.pictures[0] %>" width="300" />
      <div class="ad-detail">
        <h4><%= ad.title; %></h4>
        <p>
          &ensp;<%= ad.milege; %> km<br>
          &ensp;<span class="money">$</span><%= ad.price; %>
        </p>
        <div class="links">
          <a href="/ads/<%= ad._id %>"><span class="material-icons">directions_car</span>view</a>
          <a href="/ads/<%= ad._id %>/remove"><span class="material-icons">heart_broken</span>remove</a>
        </div>
      </div>
    </div>
  <% }) %>
</div>
<%- include('../partials/footer') %>
