<%- include('../partials/header-profile') %>
<h2 class="text-light">welcome! <%= user.name %></h2>
<div class="ads text-light">
  <h3 class="text-light">current ads:</h3>
  <% ads.forEach(ad => { %>
  <div class="ad">
    <img src="<%= ad.pictures[0] %>" width="200" />
    <%= ad.title; %> <%= ad.milege; %>km $<%= ad.price; %>
    <br /><a href="/ads/<%= ad._id %>"
      ><span class="material-icons">directions_car</span>view</a
    >
    <a href="/profile/<%= ad._id %>/modify"
      ><span class="material-icons">build</span>modify</a
    >
    <a href="/profile/<%= ad._id %>/delete"
      ><span class="material-icons">delete</span>delete</a
    >
  </div>
  <% }) %>
</div>
<%- include('../partials/footer') %>
