<%- include('../partials/header-profile') %>
<a href="/profile/new/back"
  ><span class="material-icons">arrow_back</span>back to profile page</a
>
<h1 class="text-light"><%= title %></h1>
<div class="ads text-light">
  <form action="/profile/<%= ad._id %>" method="POST">
    <label>Pictures(maximum 5):</label>
    <br /><input type="text" name="picture1" placeholder="enter url" />
    <br /><input type="text" name="picture2" placeholder="enter url" />
    <br /><input type="text" name="picture3" placeholder="enter url" />
    <br /><input type="text" name="picture4" placeholder="enter url" />
    <br /><input type="text" name="picture5" placeholder="enter url" />
    <br /><br /><label>Enter Mileage:</label> <br /><input
      type="number"
      name="milege"
      required="required"
      value="<%= ad.milege %>"
    />
    km
    <br /><br /><label>Enter Selling Price:</label> <br />$<input
      type="number"
      name="price"
      required="required"
      value="<%= ad.price %>"
    />
    <br /><br /><label>Description:</label> <br /><textarea
      name="description"
      required="required"
    >
<%= ad.description %></textarea
    >
    <br /><br /><label><h6>Contact Information:</h6></label> <br /><label
      >Name:</label
    >
    <br /><input
      type="text"
      name="name"
      required="required"
      value="<%= ad.contact.name %>"
    />
    <br /><br /><label>Phone Number:</label> <br /><input
      type="text"
      name="phone"
      required="required"
      value="<%= ad.contact.phone %>"
    />
    <br /><br /><label>Postal Code:</label> <br /><input
      type="text"
      name="postal"
      required="required"
      value="<%= ad.contact.postal %>"
    />
    <br /><br /><input type="submit" value="Modify" />
  </form>
</div>
<%- include('../partials/footer') %>
