<!DOCTYPE html>
<html>
  <head>
    <title>Autofinder</title>
    <!-- Google Icon Fonts used by Materialize -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <!-- Materialize CSS Framework -->
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!-- JavaScript for Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a href="/ads" class="navbar-brand">Autofinder</a>
        <div>
          <ul class="nav">
            <% if (user) { %>
            <li class="nav-item">
              <a class="nav-link" href="/profile/new/back"><span class="material-icons">account_circle</span>Profile</a>
            </li>
            <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="/auth/google"><span class="material-icons">login</span>Sign in with Google</a>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>

    <main>
      <a href="/profile/new/back"><span class="material-icons">arrow_back</span>back to profile page</a>
      <h1><%= title %></h1>

  <form action="/profile/new" method="GET">
  <% if (!('year' in search)) { %>
    <label>Select Model:</label>
    <select name="year" onchange="this.form.submit()">
      <option value="" disabled selected><%= 'year' in search ? search.year : 'year' %></option>
      <% let duplicateYears = [] %>
      <% let sortedYears = [] %>
      <% cars.forEach(car => { %>
        <% if (!(duplicateYears.includes(car.year))) { %>
          <% sortedYears.push(car.year) %>
          <% duplicateYears.push(car.year) %>
        <% } %>
      <% }) %> 
      <% sortedYears.sort().forEach(year => { %>
        <option value="<%= year %>"><%= year %></option>
      <% }) %>
    </select>
    <a href="/profile/new/resetmodel"><span class="material-icons">restart_alt</span>reset</a>
  </form>
  <% }%>
  <% if ('year' in search && !('make' in search)) { %>
    <label>Select Model:</label>
    <select name="year" onchange="this.form.submit()">
      <option value="" disabled selected><%= 'year' in search ? search.year : 'year' %></option>
    </select>
    <select name="make" onchange="this.form.submit()">
      <option value="" disabled selected><%= 'make' in search ? search.make : 'make' %></option>
      <% let duplicateCars = [] %>
      <% cars.forEach(car => { %>
        <% if (!(duplicateCars.includes(car.make))) { %>
          <option value="<%= car.make %>"><%= car.make %></option>
          <% duplicateCars.push(car.make) %>
        <% } %>
      <% }) %> 
    </select>
    <a href="/profile/new/resetmodel"><span class="material-icons">restart_alt</span>reset</a>
  </form>
  <% } %>
  <% if ('year' in search && 'make' in search && !('model' in search)) { %>
    <label>Select Model:</label>
    <select name="year" onchange="this.form.submit()">
      <option value="" disabled selected><%= 'year' in search ? search.year : 'year' %></option>
    </select>
    <select name="make" onchange="this.form.submit()">
      <option value="" disabled selected><%= 'make' in search ? search.make : 'make' %></option>
    </select>
    <select name="model" onchange="this.form.submit()">
      <option value="" disabled selected><%= 'model' in search ? search.model : 'model' %></option>
      <% let duplicateModels = [] %>
      <% cars.forEach(car => { %>
        <% if (!(duplicateModels.includes(car.model))) { %>
          <option value="<%= car.model %>"><%= car.model %></option>
          <% duplicateModels.push(car.model) %>
        <% } %>
      <% }) %> 
    </select>
    <a href="/profile/new/resetmodel"><span class="material-icons">restart_alt</span>reset</a>
  </form>
  <% } %>
  <% if ('year' in search && 'make' in search && 'model' in search) { %>
    <label>Select Model:</label>
    <select name="year" onchange="this.form.submit()">
      <option value="" disabled selected><%= 'year' in search ? search.year : 'year' %></option>
    </select>
    <select name="make" onchange="this.form.submit()">
      <option value="" disabled selected><%= 'make' in search ? search.make : 'make' %></option>
    </select>
    <select name="model" onchange="this.form.submit()">
      <option value="" disabled selected><%= 'model' in search ? search.model : 'model' %></option>
    </select>
    <a href="/profile/new/resetmodel"><span class="material-icons">restart_alt</span>reset</a>
  </form>
  <form action="/profile" method="POST">
    <br><label>Pictures(maximum 5):</label>
    <br><input type="text" name="picture1" placeholder="enter url">
    <br><input type="text" name="picture2" placeholder="enter url">
    <br><input type="text" name="picture3" placeholder="enter url">
    <br><input type="text" name="picture4" placeholder="enter url">
    <br><input type="text" name="picture5" placeholder="enter url">
    <br><br><label>Enter Mileage:</label>
    <br><input type="number" name="milege" required="required"> km
    <br><br><label>Enter Selling Price:</label>
    <br>$<input type="number" name="price" required="required">
    <br><br><label>Description:</label>
    <br><textarea name="description" required="required"></textarea>
    <br><br><label><h6>Contact Information:</h6></label>
    <br><br><label>Name:</label>
    <br><input type="text" name="name" required="required">
    <br><br><label>Phone Number:</label>
    <br><input type="text" name="phone" required="required">
    <br><br><label>Postal Code:</label>
    <br><input type="text" name="postal" required="required">
    <br><br><input type="submit" value="Create">
  </form>
  <% } %>

 
<%- include('../partials/footer') %>