<%- include('../partials/header-main') %>
<h5 class="text-light">&ensp;<%= title %></h5>
<div class="main text-light">
  <div id="search-row" class="row">
    <form action="/ads" method="GET">
      <select name="year" onchange="this.form.submit()">
        <option value="" disabled selected>
          <%= 'year' in search ? search.year : 'year' %>
        </option>
        <% let duplicateYears = [] %> <% let sortedYears = [] %> <%
        cars.forEach(car => { %> <% if (!(duplicateYears.includes(car.year))) {
        %> <% sortedYears.push(car.year) %> <% duplicateYears.push(car.year) %>
        <% } %> <% }) %> <% sortedYears.sort().forEach(year => { %>
        <option value="<%= year %>"><%= year %></option>
        <% }) %>
      </select>
      <select name="make" onchange="this.form.submit()">
        <option value="" disabled selected>
          <%= 'make' in search ? search.make : 'make' %>
        </option>
        <% let duplicateCars = [] %> <% cars.forEach(car => { %> <% if
        (!(duplicateCars.includes(car.make))) { %>
        <option value="<%= car.make %>"><%= car.make %></option>
        <% duplicateCars.push(car.make) %> <% } %> <% }) %>
      </select>
      <select name="model" onchange="this.form.submit()">
        <option value="" disabled selected>
          <%= 'model' in search ? search.model : 'model' %>
        </option>
        <% let duplicateModels = [] %> <% cars.forEach(car => { %> <% if
        (!(duplicateModels.includes(car.model))) { %>
        <option value="<%= car.model %>"><%= car.model %></option>
        <% duplicateModels.push(car.model) %> <% } %> <% }) %>
      </select>
      <a href="ads/reset"
        ><span class="material-icons">restart_alt</span>reset</a
      >
    </form>
  </div>
  <% ads.forEach(ad => { %>
    <br>
    <div class="ad">
      <img src="<%= ad.pictures[0] %>" width="200" />
      <div class="ad-detail">
        <h6><%= ad.title; %></h6>
        <p>
          &ensp;<%= ad.milege; %> km<br>
          &ensp;<span class="money">$</span><%= ad.price; %>
        </p>
        <a href="/ads/<%= ad._id %>"><span class="material-icons">directions_car</span>view</a>
      </div>
    </div>
  <% })%>
</div>
<%- include('../partials/footer') %>
