<%- include('../partials/header') %>
<a href="/"> back to search</a>
<h1><%= title %></h1>
<% ad.pictures.forEach(pic => { %>
    <img src="<%= pic %>" width="150">
<% }) %>
<%= ad.milege; %>km
$<%= ad.price; %>
<br><br><label><h6>Seller Infomation:</h6></label>
<br>name: <%= ad.contact.name; %>
<br>phone: <%= ad.contact.phone; %>
<br>area: <%= ad.contact.postal; %>
<% if (user) { %>
    <% if (ad.savedBy.includes(user._id)) { %>
        <br><br>Saved to <a href="/profile/favorite">favorite</a>
    <% } else { %>
        <br><br><a href="/ads/<%= ad._id %>/save">Save to favorite</a>
    <% } %>
<% }; %>
<br><br><%= ad.savedBy.length %> people saved this ad.
<%- include('../partials/footer') %>